<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>taxibest</display-name>
	<servlet>
		<description>
		Update Taxi Drivers GPS Location &amp; Dispatch Available Taxi Drivers</description>
		<display-name>TaxiCenterController</display-name>
		<servlet-name>TaxiCenterController</servlet-name>
		<servlet-class>my.servlets.TaxiCenterController</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<description>
		Taxi Station Server</description>
		<display-name>TaxiBestController</display-name>
		<servlet-name>TaxiBestController</servlet-name>
		<servlet-class>my.servlets.TaxiBestController</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<description>
		Taxi Station Server</description>
		<display-name>TaxiStationController</display-name>
		<servlet-name>TaxiStationController</servlet-name>
		<servlet-class>my.servlets.TaxiStationController</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>TaxiCenterController</servlet-name>
		<url-pattern>/TaxiCenterController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TaxiBestController</servlet-name>
		<url-pattern>/TaxiBestController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TaxiStationController</servlet-name>
		<url-pattern>/TaxiStationController</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
