<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<servlet>
		<servlet-name>CreateNewTodo</servlet-name>
		<servlet-class>de.vogella.gae.java.todo.ServletCreateTodo</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CreateNewTaxiRequest</servlet-name>
		<servlet-class>de.vogella.gae.java.todo.ServletCreateTaxiRequest</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>RemoveTodo</servlet-name>
		<servlet-class>de.vogella.gae.java.todo.ServletRemoveTodo</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UpdateTaxiRequest</servlet-name>
		<servlet-class>de.vogella.gae.java.todo.ServletUpdateTaxiRequest</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ListTaxiRequest</servlet-name>
		<servlet-class>de.vogella.gae.java.todo.ServletListTaxiRequest</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ListMyTaxiRequest</servlet-name>
		<servlet-class>de.vogella.gae.java.todo.ServletListMyTaxiRequest</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DriverLoginCheck</servlet-name>
		<servlet-class>de.vogella.gae.java.todo.ServletDriverLoginCheck</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CreateNewTaxiDriver</servlet-name>
		<servlet-class>de.vogella.gae.java.todo.ServletCreateTaxiDriver</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>RequestTaxiDriver</servlet-name>
		<servlet-class>de.vogella.gae.java.todo.ServletRequestTaxiDriver</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeleteTaxiDriver</servlet-name>
		<servlet-class>de.vogella.gae.java.todo.ServletDeleteTaxiDriver</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SubmitTaxiRequest</servlet-name>
		<servlet-class>de.vogella.gae.java.todo.ServletSubmitRequest</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeleteTaxiRequest</servlet-name>
		<servlet-class>de.vogella.gae.java.todo.ServletDeleteTaxiRequest</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetTaxiRequestStatus</servlet-name>
		<servlet-class>de.vogella.gae.java.todo.ServletGetUpdateTaxiRequest</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ApproveTaxiRequest</servlet-name>
		<servlet-class>de.vogella.gae.java.todo.ServletApproveTaxiRequest</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CancelTaxiRequest</servlet-name>
		<servlet-class>de.vogella.gae.java.todo.ServletCancelTaxiRequest</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CompleteTaxiRequest</servlet-name>
		<servlet-class>de.vogella.gae.java.todo.ServletCompleteTaxiRequest</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CompleteTaxiRequest</servlet-name>
		<url-pattern>/complete</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CancelTaxiRequest</servlet-name>
		<url-pattern>/cancel</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ApproveTaxiRequest</servlet-name>
		<url-pattern>/approve</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetTaxiRequestStatus</servlet-name>
		<url-pattern>/update</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteTaxiRequest</servlet-name>
		<url-pattern>/delete</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SubmitTaxiRequest</servlet-name>
		<url-pattern>/submit</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteTaxiDriver</servlet-name>
		<url-pattern>/remove</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RequestTaxiDriver</servlet-name>
		<url-pattern>/settings</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CreateNewTaxiDriver</servlet-name>
		<url-pattern>/driver</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DriverLoginCheck</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ListMyTaxiRequest</servlet-name>
		<url-pattern>/order</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ListTaxiRequest</servlet-name>
		<url-pattern>/list</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateTaxiRequest</servlet-name>
		<url-pattern>/change</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RemoveTodo</servlet-name>
		<url-pattern>/done</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CreateNewTaxiRequest</servlet-name>
		<url-pattern>/taxi</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CreateNewTodo</servlet-name>
		<url-pattern>/new</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>TodoApplication.jsp</welcome-file>
	</welcome-file-list>
</web-app>
